<div class="input-wrapper {{inputWrapClasses}}">
  <input class="{{inputClasses}}" type="{{type}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}">
  <span class="input-wrapper__error input-wrapper__error--hide">{{errorText}}</span>
</div>